{% extends "base.html" %}

{% block title %}
Plugins
{% endblock %}

{% block extra_styles %}
    <style>
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #3388cc;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px 0;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

    </style>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(function(){
    $('input[type=checkbox]').change(function(e) {
          var checkbox = $(this);
          var form = checkbox.closest('form');
          var url = form.attr('action');

          $.ajax({
             type: 'POST',
             url: url,
             data: form.serialize(),
             success: function(data) {
                  if( data.indexOf('failed') != -1 ) {
                      alert('Could not be toggled.');
                  }
            }
        });
    });
    $('input[type=submit]').change(function(e) {
          var button = $(this);
          var form = button.closest('form');
          var url = form.attr('action');

          $.ajax({
             type: 'POST',
             url: url,
             data: form.serialize(),
             success: function(data) {
                  if( data.indexOf('failed') != -1 ) {
                      alert('Could not be upgraded.');
                  }
            }
        });
    });
});
</script>
{% endblock %}
{% block content %}
<div id="container">
    {% for p in plugins %}
        <div class="plugins-box">
            <div class="tooltip">
                <h4>
                    <a {% if p.has_webhook %} href="/plugins/{{ p.name }}" {% endif %}>{{ p.name }}</a>
                </h4>
                {% match p.description %}
                  {% when Some with (desc) %}<span class="tooltiptext">{{ desc }}</span>
                  {% when None %}<span class="tooltiptext">No Description available.</span>
                {% endmatch %}
            </div>
            <form method="POST" action="/plugins/toggle">
                <input type="checkbox" data-role="flipswitch" name="enabled" id="flip-checkbox-{{ p.name }}" data-on-text="Enabled" data-off-text="Disabled" data-wrapper-class="custom-size-flipswitch" {% if p.enabled %} checked {% endif %}>
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="plugin" value="{{ p.name }}"/>
            </form>
            <form method="POST" action="/plugins/upgrade">
                <input type="submit" name="upgrade" value="Upgrade">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="plugin" value="{{ p.name }}"/>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}