{% extends "base.html" %}

{% block title %}
Message from {{ message.sender_name }}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery.get("/inbox/{{ message.id }}/seen", function(res){ console.log(res); });
});
</script>
{% endblock %}

{% block content %}
<p class="messagebody">
        <span style="color: #888">
        Message from {{ message.sender_name }}@{{ message.sender }}, sent
        <time class="timeago" datetime="{{ message.created_at }}">{{ message.created_at }}</time>
    {% match message.seen_at %}
    {% when Some with (t) %}, seen
    <time class="timeago" datetime="{{ t }}">{{ t }}</time>{% when None %}{% endmatch %}.</span>

    <br/>
    <br/>

    {% match message.data %}
    {% when Some with (d) %}
    <span style="white-space: pre-line">{{ d }}</span>
    {% when None %}
    <small>This message is empty.</small>
    {% endmatch %}

    <br/>
    <br/>
    <a href="/inbox/new?to={{ message.sender }}" class="ui-btn ui-icon-comment ui-btn-icon-left ui-shadow-icon">Reply</a>
    <a href="/inbox/{{ message.id }}/deleted" class="ui-btn ui-icon-delete ui-btn-icon-left ui-shadow-icon" onclick="return confirm('Are you sure?')">Delete</a>
</p>
{% endblock %}
